# Ignore Python cache files
__pycache__/
*.pyc

# macOS system file
.DS_Store

# Ignore scraped URL log
scraped_urls.txt

# Environment variables
*.env

.env

# Ignore all JSON files
frontend/package-lock.json
# *.json

# Ignore frontend build files
frontend/.next/
frontend/node_modules/
